profiles {

    conda {
        conda.enabled = true
        conda.useMicromamba = true
        conda.channels = ['conda-forge', 'bioconda']
    }

    standard {
        process.executor = 'local'
    }
}

params {
    reads = "data/*_{R1,R2}.fastq.gz"
    threads = 8
    kraken_db = "$projectDir/databases/kraken2/minikraken2_v2_8GB_201904"
}

params {
    outdir = "results"
}

process {

    conda = "conda-forge::python=3.10 bioconda::kraken2 bioconda::megahit"

}
