profiles {

    conda {
        conda.enabled = true
        conda.useMicromamba = true
        conda.channels = ['conda-forge', 'bioconda']
    }

    standard {
        process.executor = 'local'
    }
}

params {
    reads = "data/*_{R1,R2}.fastq.gz"
    threads = 8
    kraken_db = "$projectDir/databases/kraken2/minikraken2_v2_8GB_201904"
}

params {
    outdir = "results"
}

params {
    run_metabat2 = false
    run_checkm2 = false
    run_gtdbtk = false
}

process {

    withName: KRAKEN2 {
        conda = "bioconda::kraken2"
    }

    withName: MEGAHIT {
        conda = "bioconda::megahit"
    }

    withName: METABAT2 {
        conda = "bioconda::metabat2"
    }

    withName: CHECKM2 {
        conda = "bioconda::checkm2"
    }

    withName: GTDBTK {
        conda = "bioconda::gtdbtk"
    }
    withName: MULTIQC {
        conda = "bioconda::multiqc"
    }
}
